In [9]:
import pandas as pd
import numpy as np
dict = {
    'First Score':[100, 90, np.nan, 95],
    'Second Score':[38, 45, 56, np.nan],
    'Third Score':[np.nan, 40, 80, 98]
}
df = pd.DataFrame(dict, index = [1, 2, 3, 4])
df.fillna(0)

   First Score  Second Score  Third Score
1        100.0          38.0          0.0
2         90.0          45.0         40.0
3          0.0          56.0         80.0
4         95.0           0.0         98.0