In [2]:
import pandas as pd
import numpy  as np
dict = {
    "FirstScore":[100, 90, np.nan, 95],
    "SecondScore":[70, 80, 90, np.nan],
    "ThirdScore":[np.nan, 30, 50, 60]
}
df = pd.DataFrame(dict)
#df.isnull()
df.notnull()

   FirstScore  SecondScore  ThirdScore
0        True         True       False
1        True         True        True
2       False         True        True
3        True        False        True